
.bannerWrap{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    justify-content:space-between;
    width:1250px;

}
.programmerAnimation{
    width:500px !important;
    height:500px !important;
}

.leftSide{
    order:2
}
.rightSide{
    order: 1;
    width: 500px !important;
    margin-right: 35px;
}

@media only screen and (max-width:1024px){
    .bannerWrap{
        width:100%;
    
    }
}


@media screen and (max-width:768px) {

    .bannerWrap{
        flex-wrap:wrap;
        flex-direction: row-reverse;

    }
    .leftSide{
        order:2 !important;
    }
    .rightSide{
        order:1 !important;
    }
    .rightSide{
        margin-right: 5px;
    }
    
}

@media screen and (max-width:500px) {
    .rightSide{
        width:100%;
        margin:0 auto;
        margin-right:20px;
    }
    
}
