@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}


@layer components {
  .contactInput {
    @apply w-full text-base text-white placeholder:text-textLight border border-b-[1px] border-transparent border-b-textGreen py-3 px-2 outline-none focus-within:border-[1px] focus-within:border-textGreen duration-100 bg-zinc-800;
  }
}

.scrollbarHide::-webkit-scrollbar {
  display: none;
}
.active {
  color: #64ffda;
}

.rfm-marquee-container {
 padding-top:80px !important;
}